<!-- ======= Footer 2 ======= -->
<footer id="footer2">
    <div class="footer-top">

        <div class="social-links mt-3">
            <a href="https://www.instagram.com/natridis" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.linkedin.com/in/devmasf" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            <a href="https://github.com/devmasf/van-packers"><i class='bx bxl-github'></i></a>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>2020 VanPackers</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed with love for the environment
            </div>
        </div>
    </div>
</footer>

<!-- End Footer 2 -->


<!-- ============= Scripts ============= -->

<!-- Main JS -->
<script src="/scripts/index.js" async defer></script>

<!-- Boxicons -->
<script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>

<!-- Bootstrap CDNs -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

<!-- AOS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
    integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
    crossorigin="anonymous"></script>

<!-- ============= End of Scripts ============= -->

</body>

</html>