<!DOCTYPE HTML>
<html lang="en">

    <head>
        <title>VanPackers</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">


        <!-- Font -->

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">


        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <link href="/stylesheets/comingsoon.css" rel="stylesheet">

    </head>

    <body>

        <div class="main-area-wrapper" style="background-image:url(images/comingsoon.jpg);">
            <div class="main-area center-text">

                <div class="display-table">
                    <div class="display-table-cell">

                        <h1 class="title"><b>Comming Soon</b></h1>
                        <p class="desc font-white">This page is currently undergoing scheduled maintenance.
                            We should be back shortly. Thank you for your patience.</p>

                        <a class="notify-btn" href="/campgrounds"><b>GO HOME</b></a>

                        <ul class="social-btn">
                            <li class="list-heading">Follow us for updates</li>
                            <li><a href="https://www.instagram.com/natridis" class="instagram"><i
                                        class="bx bxl-instagram"></i></a></li>
                            <li> <a href="https://www.linkedin.com/in/devmasf" class="linkedin"><i
                                        class="bx bxl-linkedin"></i></a></li>
                            <li><a href="https://github.com/devmasf/van-packers"><i class='bx bxl-github'></i></a></li>
                        </ul>

                    </div><!-- display-table -->
                </div><!-- display-table-cell -->
            </div><!-- main-area -->
        </div><!-- main-area-wrapper -->

    </body>

</html>